.photoset-title {
    font-size: 18px;
    font-family: Georgia;
    white-space: nowrap;
    color: black;
    text-shadow: 1px 1px lightgray;
}

.modal-header {
    align-items: center;
}

.card-columns .card {
    margin-bottom: .25rem;
}

.card-title {
    margin-bottom: .10rem;
}

.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    width: 640px;
    column-gap: .25rem;
}

.modal-dialog {
    max-width: 333px;
    margin: 30px auto;
}

@media (min-width: 1280px) {
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        width: 1280px;
        column-gap: .25rem;
    }
}