.myalert {
    padding: .10rem .10rem;
    border: 0px solid transparent;
    border-radius: .15rem;
    text-align: center;
    width: 200px;
}

.tags-font {
    font-size: 12px;
    font-family: Georgia;
    white-space:normal;
}

.myalert-font {
    font-size: 18px;
    font-family: Georgia;
    white-space: nowrap;
    text-shadow: 1px 1px lightgray;   
}

.photoset-title {
    font-size: 18px;
    font-family: Georgia;
    white-space: nowrap;
    color: black;
    text-shadow: 1px 1px lightgray;
}

.home-card-title {
    font-family: Georgia;
    color: black;
    text-shadow: 1px 1px lightgray;
}

.home-text {
    font-family: Georgia;
    color: black;
}

.nav-link-font {
    font-size: 22px;
    font-family: Georgia;
    white-space: nowrap;
    color: black;
    text-shadow: 1px 1px lightgray;
}

.modal-header {
    align-items: center;
}

.card-columns .card {
    margin-bottom: .25rem;
}

.card-title {
    margin-bottom: .10rem;
}

.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    width: 640px;
    column-gap: .25rem;
}

.modal-dialog {
    max-width: 333px;
    margin: 30px auto;
}

.mynavbar-toggle-btn {
    background-color: transparent;
	font-size: .750rem;
    padding: .15rem .30rem;
}

.container {
    text-align:-webkit-center;
}

.form-control {
    font-size: 14px;
    line-height: 1;
    border-radius: .15rem;
}

.btn {
    font-size: 12px;
    line-height: 0.5;
    border-radius: .15rem;
}

@media (min-width: 1280px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }

    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        width: 1280px;
        column-gap: .25rem;
    }
}

@media (max-width: 480px) {
    .modal-dialog {
        max-width: 400px;
        margin: 10px auto;
    }

    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        width: 480px;
        column-gap: .15rem;
    }
}

#photoModal {
    overflow-y: scroll;
}

.badge:hover {
    background-color: lightgray;
}

.badge-delete, .badge-delete:hover {
    color: white;
    text-decoration: none; /* remove underline when mouse hovering */
    background-color: transparent;
    border: 0px;
    padding: 0px;
}